.crystal-image {
  width: 100px;
  height: 100px;
}

img.crystal-image {
  margin:10px;
  margin-top:20px;
	padding:3px;
	float:left;
	-webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}
 
img.crystal-image:hover {
	cursor:pointer;
    margin-top: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  color: #435757;
  background: radial-gradient(#fff, #dac4cd);
  font: 1.4em/1 'Noto Sans', sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.value {
  font-weight: bolder;
}

.yourScore {
  font-weight: bolder;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 62px;
}

